@{
    ViewData["Title"] = "CV - ";
}


<div class="container ">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">CV</span></h1>
    </div>
    <div class="text-center mb-5">
        <h5 class="display-7 fw-bolder mb-0"><span class="text-gradient d-inline">
                <a id="resume-download" href="#">Ladda ner mitt CV (PDF)</a>
        </span></h5>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Utbildning Section-->
            <section>
                <!-- Utbildning 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-book"></i></div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Utbildning</span></h3>
                        </div>
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2020 - 2022</div>
                                    <div class="small fw-bolder">Webbutvecklare inom .NET</div>
                                    <div class="small fw-bolder">EC Utbildning</div>
                                    <div class="small fw-bolder">Helsingborg</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Gick en super rolig utbildning på EC och fick testa på en del olika språk med fokus på .NET.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Jobb Sektion-->
            <section>
                <!-- Jobb Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-briefcase"></i></div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Jobb</span></h3>
                        </div>
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2016 - Pågående</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Butiksmedarbetare</div>
                                        <div class="small fw-bolder">Ica Kvantum Landskrona</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Jobbar främst i förbutik och kassan. Stor fokus på kundservice och förmedla kund åsikter eller förfrågningar på varor eller tjänster. Även varit på online där jag hanterat plock och utkörning till privat kund och företag.</div></div>
                        </div>
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2023 - 2024</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Gårdsman</div>
                                        <div class="small fw-bolder">NRM AB</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Jobbat som gårdsman där vi sorterade metallskrot. Kört hjullastare, lastat containrar m.m. Där var en del varierande arbetsuppgifter.</div></div>
                        </div>
                    </div>
                </div>           
            </section>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Språk och kunskap</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ASP.NET Core</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Entity Framework Core</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Javascript</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Api</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Agil systemutveckling</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CMS</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AWS</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Github</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>