@{
    ViewData["Title"] = "Home Page";
}


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">David Bekeris</h1>
            <p class="lead">
                Hej alla! Jag är David, och det är en ära att få dela lite om mig själv med er idag.
                Jag är en entusiastisk nybörjare/junior inom webbutveckling, på en spännande resa att utforska
                kodens värld och skapa digitala mästerverk.
                När jag inte sitter försjunken i koden älskar jag att spendera tid på gymmet.
                Träning är inte bara en fysisk aktivitet för mig, det är en passion och en del av min personliga utvecklingsresa.
                Men mitt liv handlar inte bara om kodning och träning.
                Att tillbringa tid med mina nära och kära är något jag värdesätter högt.
                Oavsett om det är kvalitetstid med familjen, skratt med vänner eller att
                skapa minnen med mina närmaste, är jag alltid glad över att dela dessa stunder med dem.
                Sammanfattningsvis är jag inte bara en lovande nybörjare/junior inom webbutveckling
                utan också en person som strävar efter balans och mångfald i livet.
                Jag ser fram emot att fortsätta mina framsteg i kodens värld.
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="img-fluid img-thumbnail" src="~/Pics/pink-tree.jpg" alt="pink-tree" width="720px">
        </div>
    </div>
</div>



