


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Junior webbutvecklare</h1>
            <p class="lead">
                Hej alla! Jag heter David och är en junior webbutvecklare.
                Just nu strävar jag efter utvecklas som utvecklare genom att bygga upp en portfolio.
                Fokus ligger just nu på denna sidan, där jag jobbar med .NET, CSS, HTML, JS och AWS.
                Lär mig massa nytt inom AWS, så som SSL Certifikat, EC2, Elastik Beanstalk, Load Balancer.
                Vill också få in en fungerande kontakt formulär och en databas för dynamisk hemsida.
                Sen blir de att utforska något projekt jag skulle kunna bygga för nöjets skull.
            </p>
            <p class="lead">
                Utöver koda, spenderar jag en del tid på gymmet, gaming, gillar att läsa.
                Att spendera tid med mina nära och kära är något jag värdesätter högt.
                Kort och gott är jag inte bara en junior inom webbutveckling
                utan också en person som strävar efter balans och mångfald i livet.
                Jag ser fram emot att fortsätta mina framsteg som utvecklare 
                och hoppas denna sidan kan hjälpa mig på traven till en anställning som utvecklare.
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img id="hero-pic" class="img-fluid img-thumbnail" src="~/Pics/webdevelopment-picture.jpg" alt="pink-tree" width="720px">
        </div>
    </div>
</div>



