
@{
    ViewData["Title"] = "Projekt";
}

<h1>Projekt</h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Pris jämförare</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
        Denna sidans ändemål är att kunna se historiken på priser
        och kunna sätta alarm på när varan blir billigare.
    </p>
        <a class="card-link" asp-area="" asp-controller="Home" asp-action="Index">Card link</a>
  </div>
</div>

